# Only package.json, README, CHANGELOG, LICENSE, media/ (minus README screenshots), the bundled dist/extension.js and dist/pagent.exe (Pageant helper for Windows) ship.
# ssh2 is bundled into dist by esbuild, so node_modules is not needed (vsce.dependencies = false).
node_modules/**
src/**
scripts/**
.vscode/**
.vscode-test/**
.github/**
.git/**
.gitignore
.gitattributes
.DS_Store
tsconfig.json
esbuild.js
package-lock.json
**/*.ts
**/*.map
**/*.test.js
**/*.vsix
**/*.log
media/icon.svg
media/readme/**
test/**
eslint.config.mjs
